.booked-items {
    
    margin-top: 20px;
    
    border-top: 1px solid #ccc;
    
    padding-top: 15px;
    
    }
    
    .booked-items .booked-item {
    
    justify-content: space-between;
    
    margin-bottom: 10px;
    
    }
    
     .remove-booked-btn {
    
    background-color: #d9534f;
    
    cursor: pointer;
    
    padding: 5px 10px;
    
    color: white;
    
    border: none;
    
    border-radius: 3px;
    
    }
    
    .remove-booked-btn:hover {
    
    background-color: #c9302c;
    
    }
    .main-content {
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
       /* border: 2px solid black;*/
        margin: 0px;
        background-color: #0f1111 ;
        color: #ccc;
    }